#htmlworkout #bodyworkout {
/* height: 100%; */
margin: 0;
padding: 0;
}

/* #navworkout {
    height: 100%;
} */

#mainworkout {
    background-color: antiquewhite;
    margin: 0;
}

.heading {
    border: none;
    background-color: white;
    text-align: center;
    font-size: 3em;
}

.subheading {
    font-size: 3.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.subheading2 {
    font-size: 1.5em;
    text-align: center;
}

.bubbleView {
    border: 1px solid grey;
    box-shadow: 0 4px 6px black;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
}

#workOutTable {
    width: 50%;
    margin: 0 auto 0 auto;
    display: block;
}

.tableHeader, .tableElement {
    padding:10px;
}

.tableElement, .tableHeader {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(232, 232, 246);
}

.woflexcontainer {
    display: flex;
    .workoutimg {
        flex: left;
    }
}

#workout1, #workout2,#workout3 {
    width: 50%;
    margin: 0 25% 0 25%;
}

.dropdown-content1, .dropdown-content2, .dropdown-content3 {
    display: none;

}

.show {
    display:block;
}