/* #navworkout {
    height: 100%;
} */

#mainworkout {
    background-color: antiquewhite;
    margin: 0;
}

.woheading {
    border: none;
    background-color: white;
    text-align: center;
    font-size: 3em;
}

.wosubheading {
    font-size: 3vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.wosubheading2 {
    font-size: 1.5em;
    text-align: center;
}

.wobubbleView {
    border: 1px solid grey;
    box-shadow: 0 4px 6px black;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
}

#workOutTable {
    margin: 0 15% 0 15%;
    display: block;
}

.tableHeader, .tableElement {
margin: 0;
}

.tableElement {
    width: 5%;
}

.tableElement, .tableHeader {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(232, 232, 246);
}

.woflexcontainer {
    display: flex;
}
/* .woflexcontainer:hover {
    color: red;
    background-color: red;
    border: 5px solid red;
} */
.workoutimg {
        flex: left;
        height: 5%;
        width: auto;
}
#workout1, #workout2,#workout3 {
    width: 100%;
    margin: 0;
}
/* #workout1:hover {
    background-color: red;
} 
#workout2:hover {
    background-color: red;
}
#workout3:hover {
    background-color: red;
}
#workout1:hover {
    background-color: red;
}
.wosubheading:hover {
    background-color: red;
} */
.dropdown-content1, .dropdown-content2, .dropdown-content3 {
    display: none;

}

#woimg3 {
    margin-top:10px;
}

.show {
    display:block;
}
#wocontent1, #wocontent3, #wocontent4 {
    width: 45%;
    margin: 50px 2.5% 0px 2.5%;
}

#wocontent2 {
    width: 90%;
    margin: 50px 5% 0px 5%;
}

.mwpar {
    font-size: 1.2em;
}

#mwimg {
    float: right;
}

#mwheading {
    width: 40%;
    margin: 0 30% 0 30%;
}
@media only screen and (min-width: 0) and (max-width: 768px) {
        /* Workout Plans */
        #workout1, #workout2, #workout3 {
            width: 100%;
            margin: 0px;
        }
        #workOutTable {
            margin: 0px;
            
        }
}